@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ECE9E1; /* #2C3E50 */
  --foreground: #252218;
  --cursor-color: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ECE9E1;
    --foreground: #252218;
    --cursor-color: #333; /*BDC3C7*/
  }
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Roboto, Proxima Nova ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;

}

/* Override all Ant Design Layout backgrounds */
.ant-layout,
.ant-layout-header,
.ant-layout-content,
.ant-layout-footer,
.ant-layout-sider {
  background: var(--background) !important;
}


@media (max-width: 768px) {
  .ant-layout-sider-children {
    padding-bottom: 8px !important; 
    padding-top: 8px !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1, p {
  margin: 0 0 1em
}
