@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ECE9E1; /* #2C3E50 */
  --foreground: #252218;
  --cursor-color: #333;
  /* background-image: url('/turbulance.svg'); */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ECE9E1;
    --foreground: #252218;
    --cursor-color: #333; /*BDC3C7*/
  }
}


html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: Proxima Nova, Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-image: url('/turbulance.svg');
  margin: 0;
  padding: 0;

}

a {
  color: inherit;
  text-decoration: none;
}

h1, p {
  margin: 0 0 1em
}
