@media (max-width: 768px) {
  .navbar li:first-child {
    display: flex;
    width: 100%;
    justify-content: center;  
  }

  .navbar li:not(:first-child) {
    display: none;
  }

  .main_content, .end_content, .contact_container, .start {
    margin: 12px !important;
  }

  .start {
    margin: 60px 0;
    gap: 8px !important;
  }
  
  .start p {
    font-size: 24px !important;
    text-align: center !important;
  }

  .svgContainer {
    margin-top: 40px;
    transform: scale(1) !important;    
    transform-origin: center;
  }

  .start h1 {
    font-size: 36px !important;
    width: 100% !important;
  }

  .grid_item h1 {
    font-size: 20px !important;
    text-align: left !important;
    padding: 0 !important;
  }

  .grid_item p {
    font-size: 12px !important;
  }

  .grid_item {
    grid-column: auto !important;
    grid-row: auto !important;
  }

  .edu_list {
    padding-left: 12px;
    margin: 8px 0 0;
    max-width: none;
  }

  .transition h1 {
    font-size: 16px;
    padding: 12px;
    line-height: 1.4;
  }

  .layout {
    padding: 40px !important;
  }
  
  .section_layout {
    flex-direction: column !important;
    text-align: center;
  }

  .project_layout {
    width: 100% !important;
  }
}

.section_layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

.layout {
  padding: 122px 122px 50px 122px;

}

.edu_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;            
}

.edu_line > span:first-child {
  flex: 1;             
}

.edu_year {
  font-style: italic;
  margin-left: 16px;
}

.edu_item {
  margin-bottom: 24px; 
}

.edu_list {
  list-style-position: outside;
  margin: 8px auto 0;
  max-width: 720px;
  text-align: left;
  padding-left: 0;
}

.edu_list li {
  margin-bottom: 6px;  
}
.navbar li:first-child {
  margin-right: auto;
}

.navbar li {
  font-size: 32px;
  display: inline;
}

.navbar li:not(:first-child) {
  margin-right: 32px; 
  float: right;
}

.navbar li:not(:last-child) {
  margin-right: 32px; 
}

.svgContainer {
  width: 300px; 
  height: 400px; 
  transform: scale(1.2);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 20%;
  z-index: 1;
  clip-path: url(#clipPath); 
}


.start {
  margin: 160px 0px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto auto auto;
  gap: 12px;
}

.start .grid_item {
  align-self: center;
  justify-self: center;
}

.start p {
  font-size: 32px;
}

.start h1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 720px;
  justify-self: center;
  text-align: center;
  color: #252218;
}

.start h1 strong {
  color: #E43D12;
}


.main_content {
  margin: 12px 61px;
}

/* PROJECTS SECTORS */


.project_sector {
  border: 0px;
}

.proj_item {
  border-radius: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #E43D12;
}

.proj_item .proj_box {
  text-align: left;
  justify-self: left;
  letter-spacing: 2px;
  padding-left: 12px;
  padding-right: 12px;
}


.proj_item .proj_box p {
  line-height: 150%;
  font-size: 20px;
  color: #E43D12;
}

.proj_item .proj_box .proj_head {
  text-align: center;
  justify-self: center;
  color: #E43D12;
  font-size: 28px;
}

.proj_item .proj_box footer {
  justify-self: center;
  color: #E43D12;
}


/* SECTORS */

.grid_sectors {
  display: grid;
  grid-template-columns: 0.25fr 0.1fr 1fr;
  grid-auto-rows: auto auto;
  margin: 160px 0px;
}

.grid_sectors .grid_item {
  align-self: start;
}

.grid_sectors .grid_item h1 {
  font-size: 48px;
  text-align: left;
  padding-right: 20px;
  font-weight: bold;
  color:#E43D12;
}

.grid_sectors .grid_item:first-child {
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row-start: 2;
  grid-row-end: 3;
}

.grid_sectors .grid_item:nth-child(2) {
  grid-column-start: 2;
  grid-column-end: 3; 
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid_sectors .grid_item:last-child {
  grid-row: 2 / 3; 
}

.grid_sectors .grid_item p {
  font-size: 20px;
  text-align: justify;
  line-height: 2;
  margin: 0;
  font-weight: bold;
}

/* CONTACT */

.end_content {
  border-top: 1px solid #E43D12;
}

.contact_container {
  margin: 12px 61px;
  display: grid;
}

.title {
  font-size: 32px;
  text-align: left;
}

.edu-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edu-year {
  margin-left: auto;     
  font-style: italic;
}

.grid_item .content {
  text-align: left;
  padding-left: 20px;
}

.parent_accordion {
  text-align: right;
  padding: 20px;
  border-bottom: 1px solid #E43D12;
}
.parent_accordion .content .edu_list {
  padding-left: 16px; 
  margin: 8px 0 0;    
  max-width: 720px;
  text-align: left;
  list-style-position: outside;
}

.parent_accordion .content h1,
.parent_accordion .content p {
  text-align: left !important;
}
.grid_item .content .group {
  padding-bottom: 16px;

}

.grid_item .content h1 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  color:#252218;
}

.grid_item .content p {
  padding-left: 20px;
  font-weight: normal;
  font-size: 16px;
}

.grid_item .content ul {
  padding-left: 20px;
  list-style-type: circle;
}

.grid_item .content ul li {
  padding: 4px;
}

/* FOOTER */

.footer {
  border-top: 1px solid #E43D12;
  border-bottom: 1px solid #E43D12;
  padding: 16px;
  width: 100%;
  text-align: center;
  transition: background-color 0.1s ease, color 0.1s ease; 
  background-color: #E43D12;
  color: #ECE9E1;
}

.footer h1 {
  font-size: 28px;
  font-weight: bold;
}

.footer p {
  font-size: 16px;
  margin: 4px 0;
}

.transition {
  border-top: 1px solid #E43D12;
  border-bottom: 1px solid #E43D12;  
  text-align: center;
  padding: 28px;
  font-size: 28px; 
  font-weight: bold;
  color: #0f1115;
  transition: background-color 0.1s ease, color 0.1s ease; 
}

.transition:hover {
  background-color: #E43D12;
  color: #ECE9E1;
}


